<a href="https://colab.research.google.com/github/Nielspace/Linear-Algebra/blob/master/Decision_tree_from_Scratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Coding a Decision tree from scratch

In [0]:
import pandas as pd
import numpy as np

## Collecting the data

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [4]:
%cd drive/My Drive/Data Science

/content/drive/My Drive/Data Science

In [0]:
PATH = 'data-bluebook-for-bulldozers'

In [6]:
!ls {PATH}

'Data Dictionary.xlsx'		    Train.7z	        Valid.7z
 Machine_Appendix.csv		    TrainAndValid.7z    Valid.csv
 median_benchmark.csv		    TrainAndValid.csv   ValidSolution.csv
 random_forest_benchmark_test.csv   TrainAndValid.zip   Valid.zip
 Test.csv			    Train.csv

In [7]:
data = pd.read_csv(f'{PATH}/Train.csv', date_parser=['saledates'], low_memory=True)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (13,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
data.head(3)

   SalesID  SalePrice  ...  Differential_Type  Steering_Controls
0  1139246      66000  ...           Standard       Conventional
1  1139248      57000  ...           Standard       Conventional
2  1139249      10000  ...                NaN                NaN

[3 rows x 53 columns]

## Cleaning the data

In [0]:
data = data[:100]

In [21]:
data.shape

(100, 53)

In [0]:
def assigning_categorical(data, column):
    categories = []
    for i in data[column].unique():
        categories.append(i)
    try:    
        categories.remove(np.nan)
    except Exception as e:
        pass
    data[column+'_new'] = pd.Categorical(data[column], categories=categories, ordered=True).codes
    data.drop(f'{column}', axis=1, inplace = True)
    data.replace(-1, np.nan, inplace=True)

In [0]:
for i in data.columns:
    if data[i].dtype == 'O':
        try:
            assigning_categorical(data, i)
        except Exception as e:
            pass

In [24]:
data.SalePrice = np.log(data.SalePrice)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [25]:
for i in data.columns:
    data[i] = data[i].fillna(data[i].median())

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

## Splitiing the data

In [0]:
def data_np(data): 
  """This will convert the pandas dataframe into a numpy array"""
  return data.values

In [0]:
data_val = data_np(data)

In [0]:
X = data.drop('SalePrice', axis=1)
X = X.values
y = data.SalePrice

In [0]:
def get_potential_splits(data):
    
    potential_splits = {}
    _, n_columns = data.shape
    for column_index in range(n_columns):    
        values = data[:, column_index]
        unique_values = np.unique(values)
        
        potential_splits[column_index] = unique_values
    
    return potential_splits

In [30]:
pot = get_potential_splits(X)
pot

{0: array([1139246., 1139248., 1139249., 1139251., 1139253., 1139255.,
        1139256., 1139261., 1139272., 1139275., 1139278., 1139282.,
        1139283., 1139284., 1139290., 1139291., 1139292., 1139299.,
        1139301., 1139304., 1139311., 1139333., 1139344., 1139346.,
        1139348., 1139351., 1139354., 1139356., 1139357., 1139358.,
        1139363., 1139365., 1139367., 1139369., 1139379., 1139382.,
        1139390., 1139398., 1139401., 1139409., 1139412., 1139413.,
        1139415., 1139418., 1139421., 1139423., 1139424., 1139426.,
        1139429., 1139432., 1139445., 1139449., 1139450., 1139451.,
        1139455., 1139456., 1139457., 1139459., 1139461., 1139463.,
        1139464., 1139465., 1139469., 1139473., 1139476., 1139479.,
        1139480., 1139481., 1139482., 1139484., 1139487., 1139488.,
        1139489., 1139490., 1139493., 1139496., 1139501., 1139502.,
        1139508., 1139512., 1139513., 1139514., 1139515., 1139518.,
        1139519., 1139526., 1139528., 1139531., 1139532., 1139535.,
        1139536., 1139539., 1139540., 1139541., 1139542., 1139543.,
        1139545., 1139546., 1139547., 1139550.]),
 1: array([  44800.,   62171.,   70214.,  108090.,  115392.,  117657.,
         125790.,  138847.,  273291.,  294562.,  318203.,  319906.,
         332277.,  362075.,  404336.,  434808.,  450508.,  565440.,
         571708.,  616902.,  625882.,  697529.,  742947.,  762683.,
         772701.,  821452.,  833838.,  871201.,  876671.,  877241.,
         882909.,  902002.,  973717.,  980151.,  982928.,  999089.,
         999090.,  999192.,  999442., 1001274., 1002296., 1002713.,
        1003012., 1004127., 1004810., 1007166., 1008075., 1010707.,
        1011114., 1011478., 1011821., 1011914., 1012428., 1014135.,
        1014876., 1015565., 1015814., 1016474., 1018076., 1018704.,
        1024992., 1024998., 1025088., 1026282., 1026462., 1026470.,
        1026973., 1029569., 1029708., 1029997., 1030896., 1031217.,
        1033597., 1036100., 1036251., 1042584., 1042645., 1044500.,
        1045512., 1048655., 1048704., 1050658., 1052214., 1052606.,
        1053081., 1054162., 1054302., 1054383., 1057373., 1058450.,
        1058869., 1059046., 1060419., 1062393., 1063011., 1065636.,
        1066239., 1066661., 1068082., 1068548.]),
 2: array([   77.,    85.,   112.,   332.,   506.,   663.,  1078.,  1088.,
         1129.,  1130.,  1192.,  1263.,  1269.,  1333.,  1571.,  1830.,
         1918.,  1937.,  1954.,  2140.,  2232.,  2797.,  3157.,  3166.,
         3171.,  3177.,  3217.,  3282.,  3350.,  3357.,  3362.,  3409.,
         3423.,  3539.,  3542.,  3783.,  3807.,  3877.,  3883.,  4116.,
         4604.,  4605.,  4606.,  4789.,  4794.,  4806.,  4818.,  5162.,
         5255.,  5273.,  5766.,  5853.,  6270.,  7002.,  7009.,  7014.,
         7040.,  7043.,  7110.,  7277.,  7944.,  8867.,  8988.,  9109.,
         9510.,  9560.,  9566.,  9569., 11982., 13247., 13395., 13776.,
        13792., 14411., 17188., 17311., 18588., 18604., 19167., 21442.,
        22074., 23937., 25458., 28561., 28741., 28920., 36003.]),
 3: array([121.]),
 4: array([3.]),
 5: array([1000., 1980., 1984., 1988., 1991., 1993., 1995., 1996., 1998.,
        1999., 2000., 2001., 2002., 2003., 2004., 2005., 2006., 2007.,
        2008.]),
 6: array([    0.,    68.,   109.,   195.,   242.,   244.,   302.,   320.,
          350.,   356.,   508.,   587.,   649.,   678.,   701.,   722.,
          761.,   764.,   765.,   904.,   953.,   994.,  1028.,  1056.,
         1125.,  1268.,  1290.,  1414.,  1457.,  1498.,  1788.,  1877.,
         1894.,  1921.,  1971.,  1972.,  2026.,  2032.,  2097.,  2128.,
         2223.,  2413.,  2425.,  2450.,  2565.,  2764.,  2838.,  2842.,
         3032.,  3186.,  3259.,  3486.,  3511.,  3576.,  3817.,  3981.,
         4032.,  4339.,  4640.,  4723.,  4841.,  4883.,  5074.,  5383.,
         5396.,  5428.,  5516.,  5646.,  6718.,  7345.,  7542.,  7793.,
         8005.,  8175.,  8270.,  8281.,  8421.,  9052.,  9987., 10101.,
        10466., 11121., 11540., 15633., 16328., 17033., 20700., 23838.,
        24794.]),
 7: array([0., 1., 2.]),
 8: array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
        13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
        26., 27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38.,
        39., 40., 41., 42., 43., 44., 45., 46., 47., 48., 49., 50., 51.,
        52., 53., 54., 55., 56., 57., 58., 59., 60., 61., 62., 63., 64.,
        65., 66., 67., 68., 69.]),
 9: array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
        13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
        26., 27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38.,
        39., 40., 41., 42., 43., 44., 45., 46., 47., 48., 49., 50., 51.,
        52., 53., 54., 55., 56., 57., 58., 59., 60., 61., 62., 63., 64.,
        65., 66., 67., 68., 69., 70., 71., 72., 73., 74., 75., 76., 77.,
        78., 79., 80., 81., 82., 83., 84., 85., 86.]),
 10: array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
        13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
        26., 27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38.,
        39., 40., 41., 42., 43., 44., 45., 46., 47., 48., 49., 50., 51.,
        52., 53., 54., 55., 56., 57., 58., 59., 60., 61., 62., 63., 64.,
        65., 66., 67., 68., 69., 70.]),
 11: array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
        13., 14., 15., 16., 17., 18., 19., 20.]),
 12: array([0., 1., 2., 3., 4., 5., 6., 7., 8.]),
 13: array([0., 1., 2., 3., 4., 5., 6., 7.]),
 14: array([0., 1., 2., 3., 4., 5.]),
 15: array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
        13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
        26., 27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38.,
        39., 40.]),
 16: array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
        13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
        26., 27., 28., 29., 30., 31., 32., 33., 34., 35.]),
 17: array([0., 1., 2., 3., 4., 5.]),
 18: array([0., 1., 2., 3., 4., 5.]),
 19: array([0., 1., 2., 3.]),
 20: array([0., 1., 2.]),
 21: array([0., 1.]),
 22: array([0., 1., 2.]),
 23: array([0., 1., 2.]),
 24: array([0., 1.]),
 25: array([0., 1., 2., 3., 4.]),
 26: array([0., 1.]),
 27: array([0., 1.]),
 28: array([0., 1., 2.]),
 29: array([0., 1.]),
 30: array([0., 1.]),
 31: array([0., 1., 2., 3., 4., 5., 6.]),
 32: array([0., 1.]),
 33: array([0., 1., 2.]),
 34: array([0., 1.]),
 35: array([0., 1.]),
 36: array([0., 1., 2., 3., 4., 5., 6., 7.]),
 37: array([0., 1., 2.]),
 38: array([0., 1.]),
 39: array([0., 1.]),
 40: array([0.]),
 41: array([0., 1.]),
 42: array([0., 1., 2., 3., 4.]),
 43: array([0., 1., 2., 3.]),
 44: array([0., 1., 2.]),
 45: array([0., 1.]),
 46: array([0., 1.]),
 47: array([0.]),
 48: array([0., 1.]),
 49: array([0.]),
 50: array([0.]),
 51: array([0.])}

In [0]:
def split_data(data, split_column, split_value, type_of_feature='continuous'):
    
    split_column_values = data[:, split_column]

    if type_of_feature == "continuous":
        data_true = data[split_column_values <= split_value]
        data_false = data[split_column_values >  split_value]
    
    # feature is categorical   
    else:
        pass
    
    return data_true, data_false

In [0]:
db, da = split_data(X,49,0.5)

In [33]:
db,da

(array([[1.139246e+06, 9.990890e+05, 3.157000e+03, ..., 0.000000e+00,
         0.000000e+00, 0.000000e+00],
        [1.139248e+06, 1.176570e+05, 7.700000e+01, ..., 0.000000e+00,
         0.000000e+00, 0.000000e+00],
        [1.139249e+06, 4.348080e+05, 7.009000e+03, ..., 0.000000e+00,
         0.000000e+00, 0.000000e+00],
        ...,
        [1.139546e+06, 1.031217e+06, 4.789000e+03, ..., 0.000000e+00,
         0.000000e+00, 0.000000e+00],
        [1.139547e+06, 3.322770e+05, 1.571000e+03, ..., 0.000000e+00,
         0.000000e+00, 0.000000e+00],
        [1.139550e+06, 6.217100e+04, 1.377600e+04, ..., 0.000000e+00,
         0.000000e+00, 0.000000e+00]]),
 array([], shape=(0, 52), dtype=float64))

In [0]:
def calculate_mse(data):
    actual_values = data[:]
    if len(actual_values) == 0:   # empty data
        mse = 0
        
    else:
        prediction = np.mean(actual_values)
        mse = np.mean((actual_values - prediction) **2)
    
    return mse

In [35]:
calculate_mse(X)

39290855156.65577

In [0]:
def calculate_overall_metric(data_below, data_above, metric_function):
    
    n = len(data_below) + len(data_above)
    p_data_below = len(data_below) / n
    p_data_above = len(data_above) / n

    overall_metric =  (p_data_below * metric_function(data_below) 
                     + p_data_above * metric_function(data_above))
    
    return overall_metric

In [37]:
calculate_overall_metric(db,da,calculate_mse)

39290855156.65576

In [0]:
def determine_best_split(data, potential_splits, ml_task):
    
    first_iteration = True
    for column_index in potential_splits:
        for value in potential_splits[column_index]:
            data_below, data_above = split_data(data, split_column=column_index, split_value=value)
            
            if ml_task == "regression":
                current_overall_metric = calculate_overall_metric(data_below, data_above, metric_function=calculate_mse)
            
            # classification
            else:
                current_overall_metric = calculate_overall_metric(data_below, data_above, metric_function=calculate_entropy)

            if first_iteration or current_overall_metric <= best_overall_metric:
                first_iteration = False
                
                best_overall_metric = current_overall_metric
                best_split_column = column_index
                best_split_value = value
    
    return best_split_column, best_split_value

In [0]:
for i in pot:
        for value in pot[i]:
            data_below, data_above = split_data(X, split_column=i, split_value=value)
            print(data_below, data_above)
            break
        break

[[1.139246e+06 9.990890e+05 3.157000e+03 1.210000e+02 3.000000e+00
  2.004000e+03 6.800000e+01 0.000000e+00 0.000000e+00 0.000000e+00
  0.000000e+00 0.000000e+00 4.000000e+00 6.000000e+00 2.000000e+00
  0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 1.000000e+00
  0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 1.000000e+00
  1.000000e+00 0.000000e+00 1.000000e+00 1.000000e+00 0.000000e+00
  0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 1.000000e+00
  1.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00
  0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00
  0.000000e+00 0.000000e+00 0.000000e+00 1.000000e+00 0.000000e+00
  0.000000e+00 0.000000e+00]] [[1.139248e+06 1.176570e+05 7.700000e+01 ... 0.000000e+00 0.000000e+00
  0.000000e+00]
 [1.139249e+06 4.348080e+05 7.009000e+03 ... 0.000000e+00 0.000000e+00
  0.000000e+00]
 [1.139251e+06 1.026470e+06 3.320000e+02 ... 0.000000e+00 0.000000e+00
  0.000000e+00]
 ...
 [6.333338e+06 1.887659e+06 2.143900e+04 ... 0.000000e+00 0.000000e+00
  0.000000e+00]
 [6.333341e+06 1.903570e+06 2.143500e+04 ... 0.000000e+00 0.000000e+00
  0.000000e+00]
 [6.333342e+06 1.926965e+06 2.143500e+04 ... 0.000000e+00 0.000000e+00
  0.000000e+00]]

In [39]:
determine_best_split(X, pot, 'regression')

(1, 616902.0)

In [0]:
def determine_type_of_feature(df):
    
    feature_types = []
    n_unique_values_treshold = 15
    for feature in df.columns:
        if feature != "label":
            unique_values = df[feature].unique()
            example_value = unique_values[0]

            if (isinstance(example_value, str)) or (len(unique_values) <= n_unique_values_treshold):
                feature_types.append("categorical")
            else:
                feature_types.append("continuous")
    
    return feature_types

In [41]:
determine_type_of_feature(data)

['continuous',
 'continuous',
 'continuous',
 'continuous',
 'categorical',
 'categorical',
 'continuous',
 'continuous',
 'categorical',
 'continuous',
 'continuous',
 'continuous',
 'continuous',
 'categorical',
 'categorical',
 'categorical',
 'continuous',
 'continuous',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical']

['continuous',
 'continuous',
 'continuous',
 'continuous',
 'categorical',
 'categorical',
 'continuous',
 'continuous',
 'categorical',
 'continuous',
 'continuous',
 'continuous',
 'continuous',
 'categorical',
 'categorical',
 'categorical',
 'continuous',
 'continuous',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical',
 'categorical']

In [0]:
def create_leaf(data, ml_task):
    
    label_column = data[:, -1]
    if ml_task == "regression":
        leaf = np.mean(label_column)
        
    # classfication    
    else:
        unique_classes, counts_unique_classes = np.unique(label_column, return_counts=True)
        index = counts_unique_classes.argmax()
        leaf = unique_classes[index]
    
    return leaf

In [0]:
def decision_tree_algorithm(df, ml_task, counter=0, min_samples=2, max_depth=5):
    
    # data preparations
    if counter == 0:
        global COLUMN_HEADERS, FEATURE_TYPES
        COLUMN_HEADERS = df.columns
        FEATURE_TYPES = determine_type_of_feature(df)
        data = df.values
    else:
        data = df           
    
    
    # base cases
    if (len(data) < min_samples) or (counter == max_depth):
        leaf = create_leaf(data, ml_task)
        return leaf

    
    # recursive part
    else:    
        counter += 1

        # helper functions 
        potential_splits = get_potential_splits(data)
        split_column, split_value = determine_best_split(data, potential_splits, ml_task)
        data_below, data_above = split_data(data, split_column, split_value)
        
        # check for empty data
        if len(data_below) == 0 or len(data_above) == 0:
            leaf = create_leaf(data, ml_task)
            return leaf
        
        # determine question
        feature_name = COLUMN_HEADERS[split_column]
        type_of_feature = FEATURE_TYPES[split_column]
        if type_of_feature == "continuous":
            question = "{} <= {}".format(feature_name, split_value)
            
        # feature is categorical
        else:
            question = "{} = {}".format(feature_name, split_value)
        
        # instantiate sub-tree
        sub_tree = {question: []}
        
        # find answers (recursion)
        yes_answer = decision_tree_algorithm(data_below, ml_task, counter, min_samples, max_depth)
        no_answer = decision_tree_algorithm(data_above, ml_task, counter, min_samples, max_depth)
        
        # If the answers are the same, then there is no point in asking the qestion.
        # This could happen when the data is classified even though it is not pure
        # yet (min_samples or max_depth base case).
        if yes_answer == no_answer:
            sub_tree = yes_answer
        else:
            sub_tree[question].append(yes_answer)
            sub_tree[question].append(no_answer)
        
        return sub_tree

In [51]:
decision_tree_algorithm(data, 'regression')

0.0